.title {
	padding: 10px;
	margin: 50px;
	text-align: center;
	color: rgba(150, 50, 150, 150);
	border-radius: 1%;
	letter-spacing: 3px;
	line-height: 100px;
	font-family: 'Roboto', sans-serif;
	background-color: rgba(150, 255, 220, 150);
}

.subtitle {
	padding: 0;
	margin: 0;
	text-align: center;
	color: blue;
	letter-spacing: 3px;
	line-height: 100px;
	font-family: 'Arial', sans-serif;
	background-color: rgba(150, 150, 150, 150);

}

.a {
	text-decoration: none;
}

.a:hover {
	text-decoration: none;
	color: green;
}

.body {
	font-family: 'Helvetica', sans-serif;
}

#banner {
	background-image: url("images/paris.jpg");
	background-size: cover;
	padding: 400px 0;
	text-align: center;
	color: white; 
}

#banner h1 {
	color: white;
}

#banner p {
	color: white;
	font-size: 30px;
}

